<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
 	
 	<context:property-placeholder location="classpath*:/remoteservice.properties"/>
 	
	<!-- 客户端Hessian代理工厂Bean -->
 	<bean id="clientService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${clientService}" />
		<property name="serviceInterface" value="cn.yesway.hondayesway.service.ClientService" />
	</bean>
 	<bean id="settlementService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${settlementService}" />
		<property name="serviceInterface" value="cn.yesway.hondayesway.service.SettlementService" />
	</bean>
 	<bean id="tspService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${tspService}" />
		<property name="serviceInterface" value="cn.yesway.hondayesway.service.TspService" />
	</bean>
 	<bean id="userService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${userService}" />
		<property name="serviceInterface" value="cn.yesway.hondayesway.service.UserService" />
	</bean>
 	<bean id="languageService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${languageService}" />
		<property name="serviceInterface" value="cn.yesway.hondayesway.service.LanguageService" />
	</bean>
</beans>